.about {
    margin-top: 101px;
    @media (max-width: 768px) {
        margin-top: 36px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @media (max-width: 768px) {
            gap: 15px;
        }
        @media (max-width: 576px) {
            flex-direction: column;
        }
    }
    &__pic {
        max-height: 557px;
        overflow: hidden;
        border-radius: 240px 100px;
        @media (max-width: 992px) {
            max-height: 450px;
        }
        @media (max-width: 576px) {
            max-height: 340px;
            border-radius: 140px 60px;
        }
    }
    &__descr {
        max-width: 630px;
        @media (max-width: 1199px) {
            max-width: 50%;
        }
        @media (max-width: 768px) {
            max-width: 40%;
        }
        @media (max-width: 576px) {
            max-width: 100%;
            text-align: center;
        }
    }
    &__title {
        @media (max-width: 576px) {
            display: none;
        }
    }
    &__subtitle {
        margin-top: 5px;
        @media (max-width: 576px) {
            display: none;
        }
    }
    &__text {
        margin-top: 42px;
        font-weight: 400;
        line-height: 20px;
        @media (max-width: 768px) {
            font-size: 12px;
        }
        @media (max-width: 576px) {
            margin-top: 51px;
        }
    }
    &__btn {
        margin-top: 28px;
    }
}