.why {
    margin-top: 111px;
    @media (max-width: 768px) {
        margin-top: 36px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @media (max-width: 768px) {
            gap: 40px;
        }
        @media (max-width: 576px) {
            justify-content: center;
        }
    }
    &__subtitle {
        @media (max-width: 576px) {
            margin: 16px auto 0 auto;
            text-align: center;
        }
    }
    &__text {
        max-width: 652px;
        font-weight: 400;
        line-height: 20px;
        @media (max-width: 1199px) {
                max-width: 50%;
            }
        @media (max-width: 768px) {
            font-size: 12px;
            max-width: 100%
        }
        @media (max-width: 576px) {
            display: none;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__arrow {
        @media (max-width: 991px) {
            display: none;
        }
    }
    &__wrapper {
        margin-top: 105px;
        position: relative;
        @media (max-width: 991px) {
            margin: 105px 26px 0 26px;
        }
        @media (max-width: 768px) {
            margin: 36px 26px 0 26px;
        }
        @media (max-width: 576px) {
            margin: 26px 26px 0 26px;
        }
    }
    &__swiper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        &-prev, &-next {
            position: absolute;
            z-index: 50;
            display: none;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
            /* border: 9px solid rgba(14, 14, 14, 0.32); */
            border-radius: 50%;
            @media (max-width: 991px) {
                display: flex;
            }
            svg {
               path {
                transition: all .5s ease;
               }
            }
            &:hover {
                svg {
                    path {
                        stroke: $text-color;
                    }
                }
            }
        }
        &-prev {
            top: 50%;
            transform: translateY(-50%);
            left: -22px;
        }
        &-next {
            top: 50%;
            transform: translateY(-50%);
            right: -22px;
        }
    }
    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
        border-radius: 40px;
        &-pic {
            margin-top: 23px;
            width: 190.92px;
            height: 190.92px;
            border-radius: 50%;
            overflow: hidden;
            border: 14.44px solid rgba(14, 14, 14, 0.32);
        }
        &-title {
            margin-top: 21px;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
        }
        &-divider {
            margin-top: 17px;
            width: 154px;
            height: 1px;
            background-color: rgba(192, 183, 232, 0.33);
        }
        &-text {
            max-width: 250px;
            margin: 22px auto 0 auto;
            font-size: 12px;
            line-height: 125%;
            text-align: center;
        }
        &-btn {
            margin: 35px 0 40px 0;
        }
    }
}
